body {
    font-family:'Courier New', Courier, monospace;
    text-align: right;
    font-size: 1.5em;
}

div#container {
    margin: auto 10%;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    min-width: 200px;
    max-width: 360px;
    border-radius: 30px;
    background-color: #62afb7;
}

div.result {
    flex: 1 1 100%;
    margin: 5px;
    padding: 10px;
    background-color:  #ecfff4;   
    min-height: 4rem;
    height: min-content;
    border-radius: 15px;
}


div.input {
    display: flex;
    flex: 1 1 100%;
    flex-wrap: wrap;
    padding: 10px;



}

div.num {
    flex: 1 1 75%;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

div.num > div {
    flex: 1 1 25%;

    background-color: rgb(200, 243, 229);

}

div.num > div.cancel {
    color: #9c0034;
    border-color:#9c0034;
}

div.op {
    flex: 1 1 20%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-left: 5px;
    }


div.op > div {
    flex: 1;
    background-color: #ffec47;

}

div.op > div, div.num > div {    
    border: 1px solid rgb(146, 146, 146);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    border-width: 2px;
    border-color: #d9ffea;

}

div.op > div:hover, div.num > div:hover {   
    background-color: rgb(148, 233, 204);

}